<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
        <title>U labeler</title>
</head>
<header class="header">
    <%- include("../components/header.ejs") %>
        <body>
            <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>
                <%- include("../components/login.ejs") %>

                    <article>
                        <br>
                        <br>

                        <!-- ページ名 -->

                        <h3 class="h3_center4"><%- currentPageDescription.title %>
                            <hr>
                        </h3>

                        <!-- <button id="js-show-popup">ログイン</button> -->
                        <div id="js-show-popup">
                            <div class="box_wrapper_2">


                                <%- include("../components/workListOverView.ejs", { workList: workList, baseCategoryList: baseCategoryList, idx: idx, maxPage: maxPage, maxViewOnPage: maxViewOnPage, currentPage: currentPage, userInfo: userInfo, currentPageDescription: currentPageDescription, }) %>

                            </div>
                        </div>


                        <!-- ポップアップの中身 -->

                        <div class="popup" id="js-popup">
                            <div class="popup-inner">
                                <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>


                                <!-- 作品詳細（自分）👇 -->

                                <!-- <section class="box_item_3">
                <br>
                <div class="userpage">
                    <div class="user_3">
                    <form action="" method="post" id="hoge">
                        <div class="user_box_1">
                            <a href=""><table cellpadding="0"　class = "usertable">
                                
                                <tr>
                                    <th rowspan="4" ><p class = user_img2><img src="images/use.png" alt="商品画像"></p></th>
                                    <td>　　　　　</td>
                                </tr>
                                <tr>    
                                    <td><p class = "username">やまだはなこ</p></td>
                                    <input type="hidden" name="">
                                    
                                </tr>
                                <tr>    
                                    <td class = "userid2">＠00000000</td>
                                    <input type="hidden" name="">
                                </tr>
                                
                                
                            </table></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class = userpage>
            </div>
                <p class = "date1">2022/02/02</p>
                <div class="image_wrapper"><img src="images/color.jpeg"  alt="" /></div>
                <form action="select_color.html" method="post">

                    <table class = tannka_table>
                        <tr>
                            <th class = "tannka"><p>単価：500円　</p></th>
                            <th class="cart_img2"><p class = cart_img><a href=""><img src="images/cart-5.jpg" alt="商品画像"></a></th>
                        </tr>
                    </table>
                    
                    <p class = "explanation">ペットボトル（500ml）</p>
                    <h3 class = "sakuhinnmei">「ひまわりのペットボトル」</h3>
                    <div class = "explanation2"><a href=""><font  size="2">#ペットボトル　＃やまおねがい　#やまおねがい</font></a></p></div>
                    <br>
                    <p class = "explanation3">ひまわりが大好きなので作りました。</p>
                    <div class="okiniiri">
                        <p class = "star2_1"><a href=""><font  size="15" color="orange">☆</font></a></p>
                        <div class = "favorite3">
                            <p class = "favorite2"><font  size="4">10</font></p>
                        </div> 
                    </div>
                    <p class="button6"><button type="submit" class="black_button4" onclick="location.href=''">編集</button></p> 
                    <br>
                </form>
            </section> -->

                                <!-- 作品詳細（自分）ここまで👆 -->


                                <!-- 作品詳細（他者）👇 -->

                                <section class="box_item_3">
                                    <br>
                                    <div class="userpage">
                                        <div class="user_3">
                                            <form action="" method="post" id="hoge">
                                                <div class="user_box_1">
                                                    <a href="">
                                                        <table cellpadding="0" 　class="usertable">

                                                            <tr>
                                                                <th rowspan="4">
                                                                    <p class=user_img2><img src="images/use.png"
                                                                            alt="商品画像"></p>
                                                                </th>
                                                                <td>　　　　　</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <p class="username">やまだはなこ</p>
                                                                </td>
                                                                <input type="hidden" name="">

                                                            </tr>
                                                            <tr>
                                                                <td class="userid2">＠00000000</td>
                                                                <input type="hidden" name="">
                                                            </tr>


                                                        </table>
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class=userpage>
                                    </div>
                                    <p class="date1">2022/02/02</p>
                                    <div class="image_wrapper"><img src="images/color.jpeg" alt="" /></div>
                                    <form action="select_color.html" method="post">

                                        <table class=tannka_table>
                                            <tr>
                                                <th class="tannka">
                                                    <p>単価：500円　</p>
                                                </th>
                                                <th class="cart_img2">
                                                    <p class=cart_img><a href=""><img src="images/cart-5.jpg"
                                                                alt="商品画像"></a>
                                                </th>
                                            </tr>
                                        </table>

                                        <p class="explanation">ペットボトル（500ml）</p>
                                        <h3 class="sakuhinnmei">「ひまわりのペットボトル」</h3>
                                        <div class="explanation2"><a href="">
                                                <font size="2">#ペットボトル　＃やまおねがい　#やまおねがい</font>
                                            </a></p>
                                        </div>
                                        <br>
                                        <p class="explanation3">ひまわりが大好きなので作りました。</p>
                                        <div class="okiniiri">
                                            <p class="star2_1"><a href="">
                                                    <font size="15" color="orange">☆</font>
                                                </a></p>
                                            <div class="favorite3">
                                                <p class="favorite2">
                                                    <font size="4">10</font>
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        <a href="">
                                            <p class="tuuhou">
                                                <font size="2" color="red">通報する</font>
                                            </p>
                                        </a>
                                        <br>
                                    </form>
                                </section>
                                <!-- 作品詳細（他者）ここまで👆 -->

                            </div>
                            <div class="black-background" id="js-black-bg"></div>
                        </div>



                        <script src="js/pop-up.js"></script>

                        <noscript>
                            <p>JavaScriptを有効にしてください。</p>
                        </noscript>

                    </article>
                    <br>
                    <!-- ページネーション やまページネーションだるそう。。。-->
                    <div class="pagination">
                        <ul class="example">
                            <li><a href="#">前へ</a></li>
                            <!--2ページ以降-->
                            <li class="pagination_nau">1</li><!-- 現在ページはaタグじゃなくて直書きクラス -->
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">次へ</a></li>
                        </ul>
                    </div>
                    <footer>
                        <br>
                        <br>
                        <div class="footer_text1">
                            <table class="footer_text">

                                <tr>
                                    <td>
                                        <p><a href="faq.html">よくある質問　</a></p>
                                    </td>
                                    <td>
                                        <p><a href="privacy_policy.html">プライバシーポリシー　</a></p>
                                    </td>
                                    <td>
                                        <p><a href="site_policy.html">サイトポリシー</a></p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>

                        <br>
                        <a href="customize_editing.html" id="pagetop"><i class="up"></i>↑</a>

                    </footer>


                    <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
                    <script>
                        bubbly({
                            blur: 5,
                            bubbleFunc: () => `hsla(${Math.random() * 350}, 90%, 50%, ${Math.random() * 0.1})`,
                            canvas: document.querySelector("#back"),
                            colorStart: '#fff',
                            colorStop: '#fff',
                            compose: 'source-over',
                            shadowColor: '#ffffef',
                            velocityFunc: () => Math.random() * 1.4,
                            radiusFunc: () => 3 + Math.random() * 20,
                        });
                    </script>
                    </script>
        </body>

</html>