<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
        <title>U labeler</title>
</head>
<header class="header">
    <%- include("../components/header.ejs") %>

        <body>
            <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>
                <%- include("../components/login.ejs") %>
    <article>
        <br>
        <br>

    <!-- ページ名 -->

    <h3 class="h3_center4">お気に入り作品リスト<hr></h3>

    <h3>お気に入りに登録した作品がありません。</h3>

    
    <noscript>
        <p>JavaScriptを有効にしてください。</p>
    </noscript>
    </article>
    <%- include("../components/footer.ejs") %>
</body>

</html>
