<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
    <title>U labeler</title>
</head>
<header class="header">

    <div class="header_logo">
        <%- include("../components/header.ejs") %>
    <body>
        <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>

            <article>
                <div class="footerFixed">
                <br>
                <br>

                <!-- ページ名 -->

                <h3 class="h3_center2">
                    <%= title %>
                        <hr>
                </h3>



                <h3>作品がありません。<br>追加するには作品を作る必要があります。</h3>

                <div class="btn_custmize">
                    <p class="btn_custmize1"><a href="#">
                            <font color="white">CUSTOMIZE</font>
                        </a></p>
                </div>
            </article>
            <%- include("../components/footer.ejs") %>
            <footer>
                <br>
                <br>
                <div class="footer_text1">
                    <table class="footer_text">
                        <tr>
                            <td>
                                <p><a href="faq.html">よくある質問　</a></p>
                            </td>
                            <td>
                                <p><a href="/privacypolicy">プライバシーポリシー　</a></p>
                            </td>
                            <td>
                                <p><a href="/sitepolicy">サイトポリシー</a></p>
                            </td>
                        </tr>
                    </table>
                </div>
                <br>
                <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>
            
                <br>
                <p id="page-top"><a href="">↑</a></p>
            </footer>
        </div>
            
            
            <script>
                bubbly({
                    blur: 5,
                    bubbleFunc: () => `hsla(${Math.random() * 350}, 90%, 50%, ${Math.random() * 0.3})`,
                    canvas: document.querySelector("#back"),
                    colorStart: '#fff',
                    colorStop: '#fff',
                    compose: 'source-over',
                    shadowColor: '#ffffef',
                    velocityFunc: () => Math.random() * 1.4,
                    radiusFunc: () => 3 + Math.random() * 20,
                });
            </script>
    </body>

</html>