<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
    <title>U labeler</title>
</head>
<header class="header">

    <div class="header_logo">
        <%- include("../components/header.ejs") %>
    <body>
        <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>

            <article>
                <div class="footerFixed">
                <br>
                <br>

                <!-- ページ名 -->

                <h3 class="h3_center2">
                    <%= title %>
                        <hr>
                </h3>



                <h3>作品がありません。<br>追加するには作品を作る必要があります。</h3>

                <div class="btn_custmize">
                    <p class="btn_custmize1"><a href="#">
                            <font color="white">CUSTOMIZE</font>
                        </a></p>
                </div>
            </article>
            <%- include("../components/footer.ejs") %>
        
    </body>

</html>