<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
    <title>U labeler</title>
</head>
<header class="header">

    <div class="header_logo">
        <h1><a href="/"><img src="/images/system/logo.png" alt="Ulabeler"></a></h1>
    </div>

    <!-- 検索ボックス -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <span class="magnifying_glass"></span>
    <form method="get" action="#" class="search_container">
        <input type="text" size="25" placeholder="キーワード検索">
        <input type="submit" value="&#xf002">
    </form>


    <body>

        <input type="checkbox" id="nav1">
        <label for="nav1" class="open"><span></span></label>
        <label for="nav1" class="close"></label>

        <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>

            <article>
                <br>
                <br>

                <!-- ページ名 -->

                <h3 class="h3_center2"><%- currentPageDescription.title %> 
                    <hr>
                </h3>

                <div id="js-show-popup">
                    <div class="box_wrapper_2">

                        <%- include("../components/workListOverView.ejs", { workList: workList, baseCategoryList: baseCategoryList, idx: idx, maxPage: maxPage, maxViewOnPage: maxViewOnPage, currentPage: currentPage, userInfo: userInfo, currentPageDescription: currentPageDescription, }) %>
                    </div>
                </div>
                <%- include("../components/workListDetail.ejs", { workList: workList, baseCategoryList: baseCategoryList, idx: idx, maxPage: maxPage, maxViewOnPage: maxViewOnPage, currentPage: currentPage, userInfo: userInfo, currentPageDescription: currentPageDescription,isMine: isMine}) %>
                                    <noscript>
                                        <p>JavaScriptを有効にしてください。</p>
                                    </noscript>
            </article>
            <br>
            <%- include("../components/listPagenation.ejs", { workList: workList, baseCategoryList: baseCategoryList, idx: idx, maxPage: maxPage, maxViewOnPage: maxViewOnPage, currentPage: currentPage, userInfo: userInfo, currentPageDescription: currentPageDescription,isCreatorView: isCreatorView }) %>
            <%- include("../components/footer.ejs") %>
    </body>

</html>