<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="none,noindex,nofollow">
    <meta name="description" content="ハンドメイドショップサイト">
    <meta name="keywords" content="ECサイト">
    <title>U labeler</title>

    <link href="/stylesheets/top.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

</head>
<header class="header">

    <div class="header_logo">
        <h1><a href="/"><img src="/images/system/logo.png" alt="Ulabeler"></a></h1>
    </div>

    <!-- 検索ボックス -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <span class="magnifying_glass"></span>
    <form method="get" action="#" class="search_container">
        <input type="text" size="25" placeholder="キーワード検索">
        <input type="submit" value="&#xf002">
    </form>


    <body>

        <input type="checkbox" id="nav1">
        <label for="nav1" class="open"><span></span></label>
        <label for="nav1" class="close"></label>

        <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>

            <article>
                <br>
                <br>

                <!-- ページ名 -->

                <h3 class="h3_center2"><%- currentPageDescription.title %> 
                    <hr>
                </h3>

                <div id="js-show-popup">
                    <div class="box_wrapper_2">

                        <%- include("../components/workListOverView.ejs", { workList: workList, baseCategoryList: baseCategoryList, idx: idx, maxPage: maxPage, maxViewOnPage: maxViewOnPage, currentPage: currentPage, userInfo: userInfo, currentPageDescription: currentPageDescription, }) %>



                    </div>
                </div>


                <%- include("../components/workListDetail.ejs", { workList: workList, baseCategoryList: baseCategoryList, idx: idx, maxPage: maxPage, maxViewOnPage: maxViewOnPage, currentPage: currentPage, userInfo: userInfo, currentPageDescription: currentPageDescription,isMine: isMine}) %>


                                    <noscript>
                                        <p>JavaScriptを有効にしてください。</p>
                                    </noscript>
            </article>
            <br>

            <div class="pagination">
                <ul class="example">
                    <% if (currentPage !=1) { %>
                        <li><a href="<%= currentPageDescription.uriPrefix %>?page=<%- currentPage - 1 %>">前へ</a></li>
                        <% } %>
                            <% for( let index=1; index <=maxPage; index++ ) { %>
                                <% if (index==currentPage) { %><li class="pagination_nau"><%- currentPage %></li>
                                    <% } else { %>
                                        <li><a href="<%= currentPageDescription.uriPrefix %>?page=<%- index %>"><%- index %></a></li>
                                        <% } %>
                                            <% } %>
                                            <% if (currentPage !=maxPage) { %><li><a href="<%= currentPageDescription.uriPrefix %>?page=<%- currentPage + 1 %>">次へ</a></li><% } %>
                </ul>
            </div>

            <br>
            <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>
            <br>
            <a href="#" id="pagetop"><i class="up"></i>↑</a>
    </body>

</html>