<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
        <title>U labeler</title>
</head>
<header class="header">
    <%- include("../components/header.ejs") %>

    <body>
        <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>
    
    <article>
        <!-- ページ名 -->
    <h3 class="h3_center2">購入確認画面<hr></h3>

    <div class="cart_flex">
        <p>商品</p>
        <p class="">数量</p>
        <p class="total2">合計</p>
    </div>
    <hr class="cart_hr">

    <% let sumAmount = 0; %> 

    <% for( let i = 0; i < CartWorkDetailList.length; i++ ) { %>
        <div class="cart_item_flex">
            <div class="cart_image">
                <img src="<%= CartWorkDetailList[i].workImagePath %>" alt="商品画像">
                <div class="cart_item_detail">
                    <p>素体名:<%= CartWorkDetailList[i].baseCategoryName %></p>
                    <p>作品名:「<%= CartWorkDetailList[i].workName %>」</p>
                    <p>金額: <%= CartWorkDetailList[i].unitPrice %></p>
                </div>
                <div class="cart_item_kazu">
                        <div class="">
                            <p><%= CartWorkDetailList[i].quantity %></p>
                        </div>
                </div>
                <div class="total">
                    <p>¥<%= CartWorkDetailList[i].unitPrice * CartWorkDetailList[i].quantity %></p>
                </div>
            </div>
        </div>

        <% sumAmount += CartWorkDetailList[i].unitPrice * CartWorkDetailList[i].quantity %>
        
        <hr class="cart_hr">
    <% } %>
    <div class="cart_flex3">
        
        <p class="count1">小計</p>
        <p>¥<%= sumAmount %></p>
    </div>
    <div class="cart_flex3">
        <div class="count1">
            <p>配送料</p>
        </div>
            <p>¥<%= shippingFee %></p>
    </div>
    <hr class="cart_hr">
    <div class="cart_flex3">
        <div class="count1">
            <p>合計</p>
        </div>
            <p>¥<%= sumAmount + shippingFee %></p>
    </div>
    <br><br>
    <div class = "subtitle"><img src="/images/system/delivery.png" class="delivery_card" alt="配送情報"></div>

    <div class="purchase_2">
        <form action="" method="post" id="hoge">
            <table>
                <tr>
                    <td>
                        <div class="purchase_box2">
                            <table cellpadding="10">
                                <tr>
                                    <th>配達予定日　: </th>
                                    <td><%= estimatedDeliveryDateString %></td>
                                    <td><%= estimatedDeliveryTimeCategory %></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td>
                        <!-- 別ウィンドウで"/select_delivery_date"を開く -->
                        <img src="/images/system/edit_pen.png" class="edit_image" alt="お届け日編集" onclick="setNewDeriveryDate()">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div class="purchase_2">
        <form action="" method="post" id="hoge">
            <table>
                <tr>
                    <td>
                        <div class="purchase_box2">
                            <table cellpadding="10">
                                <% if (typeof deliveryAddress[0] == 'undefined') { %>
                                    <tr>
                                        <td>
                                            <font color="red">住所設定をしてください*</font>
                                        </td>
                                    </tr>
                                        <% } else { %>
                                            <tr>
                                                <th>お名前　　: </th>
                                                <td><%= deliveryAddress[0].familyname %></td>
                                                <td><%= deliveryAddress[0].firstname %></td>
                                            </tr>
                                            <tr>
                                                <th>ふりがな　: </th>
                                                <td><%= deliveryAddress[0].familyname_furigana %></td>
                                                <td><%= deliveryAddress[0].firstname_furigana %></td>
                                                <input type="hidden" name="">
                                            </tr>
                                            <tr>
                                                <th>住所　　　: </th>
                                                <td>〒<%# 7桁の数字の場合は先頭3桁の後に-を追加する %>
                                                    <% if (deliveryAddress[0].zip_code.includes("-")) { %>
                                                     <%= deliveryAddress[0].zip_code %> 
                                                    <% } else { %>
                                                        <%= deliveryAddress[0].zip_code.substr(0, 3) %>-<%= deliveryAddress[0].zip_code.substr(3, 7) %>
                                                        <% } %> 
                                                </td>
                                                <input type="hidden" name="">
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <td colspan="2"><%= deliveryAddress[0].address %></td>
                                            </tr>
                                        <% } %> 
                            </table>
                        </div>
                    </td>
                    <td>
                        <img src="/images/system/edit_pen.png" class="edit_image" alt="編集" onclick="selectAddress()">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <br>
    <p class = "subtitle">～支払情報～</p>
    <div class="purchase_2">
        <form action="" method="post" id="hoge">
            <table>
                <tr>
                    <td>
                        <div class="purchase_box2">
                            <table cellpadding="10">
                                <tr>
                                    <th>支払方法　: </th>
                                    <% if (typeof paymentMethod[0] == 'undefined') { %>
                                        <td><font color='red'>支払設定をしてください*</font></td>
                                    <% } else if (paymentMethod[0].name_card == "PayPay") { %>
                                        <td>PayPay</td>
                                    <% } else if (paymentMethod[0].name_card == null) { %>
                                        <td><font color='red'>支払設定をしてください*</font></td>
                                    <% } else { %>
                                        <td>
                                            <%# 先頭12桁を"*"に置き換える" %>  
                                            <%# paymentMethod[0].cardnumberを、4桁ずつに区切り、"-"を挿入する %>
                                            <% var cardnumber = paymentMethod[0].cardnumber %>
                                            <% var cardnumber_1 = cardnumber.substr(0, 4) %>
                                            <% var cardnumber_2 = cardnumber.substr(4, 4) %>
                                            <% var cardnumber_3 = cardnumber.substr(8, 4) %>
                                            <% var cardnumber_4 = cardnumber.substr(12, 4) %>
                                            <% cardnumber_1 = cardnumber_1.replace(/[0-9]/g, "*") %>
                                            <% cardnumber_2 = cardnumber_2.replace(/[0-9]/g, "*") %>
                                            <% cardnumber_3 = cardnumber_3.replace(/[0-9]/g, "*") %>
                                            <% cardnumber_4 = cardnumber_4 %>
                                            <% cardnumber = cardnumber_1 + "-" + cardnumber_2 + "-" + cardnumber_3 + "-" + cardnumber_4 %>
                                            <%= cardnumber %>
                                        </td>
                                        <td>クレジットカード</td>
                                    <% } %> 
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td>
                        <img src="/images/system/edit_pen.png" class="edit_image" alt="編集" onclick="selectPaymentMethod()">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <br>
    <hr class="cart_hr">
    <br>
    <br>
    <div class="double_button2">
        <button  type="button" class="white_button2" onclick="location.href=''">戻る</button>
        <button  type="button" class="black_button2" onclick="location.href='/purchase/submit'" 
        <% if (typeof paymentMethod[0] == 'undefined' || typeof deliveryAddress[0] == 'undefined') { %>
            disabled
        <% } %>
        >決定</button>
    </div>
    </article>
    
    <%- include("../components/login.ejs") %>
    <%- include("../components/footer.ejs") %>
</body>
<script src="/javascripts/searchInit.js"></script>

<script>
    function setNewDeriveryDate() {
        window.open('/purchase/select_delivery_date', "setter", 'width=500,toolbar=no,menubar=no,scrollbars=yes,status=no');
    }
    function selectPaymentMethod() {
        window.open('/purchase/select_payment_method', "setter", 'width=500,toolbar=no,menubar=no,scrollbars=yes,status=no');
    }
    function selectAddress() {
        window.open('/purchase/select_address', "setter", 'width=500,toolbar=no,menubar=no,scrollbars=yes,status=no');
    }
</script>

</html>