<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
        <title>U labeler</title>
</head>

<header class="header">
  <%- include("../components/header.ejs") %>
  <body>
  <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>
    
    <article>
      <div class="footerFixed">
      <br><br>
      <!-- パンくずリスト -->
  <div class="pan">
    <h5><font size="4">素体選択</font> ＞ カスタマイズ ＞ 作品設定 ＞ 作品設定確認</h5>
  </div>

  <!-- ページ名 -->
  <h2>素体選択</h2>
  <hr>
  <!-- ページサブ名 -->
  <h2>スマートフォンケース</h2>
  <div class="box_wrapper">
    <form method="post" class="box_item">
      <input type="hidden" name="object" value="12">
      <button class="aitem1">
        <h3>iPhone13/13pro</h3>
        <div class="image_wrapper"><img src="/images/system/iphone13.jpg" alt="" /></div>
      </button>
    </form>

    <form  method="post" class="box_item">
      <input type="hidden" name="object" value="14">
      <button class="aitem1">
        <h3>iPhone13Pro Max</h3>
        <div class="image_wrapper"><img src="/images/system/model1.jpeg" alt="" /></div>
      </button>
    </form>

    <form  method="post" class="box_item">
      <input type="hidden" name="object" value="21">
      <button class="aitem1">
        <h3>iPhone13mini</h3>
        <div class="image_wrapper"><img src="/images/system/iphone13.jpg" alt="" /></div>
      </button>
    </form>

    <form  method="post" class="box_item">
      <input type="hidden" name="object" value="4">
      <button class="aitem1">
        <h3>iPhone12/12pro</h3>
        <div class="image_wrapper"><img src="/images/system/iphone13.jpg" alt="" /></div>
      </button>
    </form>

    <form  method="post" class="box_item">
      <input type="hidden" name="object" value="6">
      <button class="aitem1">
        <h3>iPhone12Pro max</h3>
        <div class="image_wrapper"><img src="/images/system/model1.jpeg" alt="" /></div>
      </button>
    </form>

    <form  method="post" class="box_item">
      <input type="hidden" name="object" value="3">
      <button class="aitem1">
        <h3>iPhone12mini</h3>
        <div class="image_wrapper"><img src="/images/system/iphone13.jpg" alt="" /></div>
      </button>
    </form>

    <form  method="post" class="box_item">
      <input type="hidden" name="object" value="8">
      <button class="aitem1">
        <h3>iPhone11Pro</h3>
        <div class="image_wrapper"><img src="/images/system/iphone13.jpg" alt="" /></div>
      </button>
    </form>

    <!-- <form  method="post" class="box_item">
      <input type="hidden" name="object" value="22">
      <button class="aitem1">
        <h3>iPhone7/8/SE</h3>
        <div class="image_wrapper"><img src="/images/system/iphonese.jpg" alt="" /></div>
      </button>
    </form> -->
  </div>
  <br>
  <br>
  <button id="" class="white_button" onclick="location.href='/customize/select_object'">戻る</button>
</div>
</article>
<%- include("../components/login.ejs") %>
<%- include("../components/footer.ejs") %>
</body>

</html>