<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
        <title>U labeler</title>
        <style>
          .image_wrapper{
              width: 100%;
              height: 450px;
              background: #eee;
          }
          .sotai_image{
              width: 100%;
              height: 100%;
              mask: no-repeat center/70%;
              -webkit-mask: no-repeat center/70%;
              background: rgb(0, 0, 0);
          }
          
          /*素体画像*/
          /* .sotai {
              mask-image: url(./img/iphone11.png);
              -webkit-mask-image: url(./img/iphone11.png);
          } */
      </style>
</head>

<header class="header">
  <input type="hidden" id="texPath" value="        
    <% if (typeof thumbnailPath !== 'undefined') { %> 
    <%= thumbnailPath %>
    <% } else { %>
    <%= '/images/system/color.jpeg' %>
    <% } %>">
  <script>
    const baseTexPath = document.getElementById('texPath').value;
    const target = document.querySelector('.sotai');
    window.addEventListener('load', function() {
      target.style["mask-image"] = `url(${baseTexPath})`;
      target.style["-webkit-mask-image"] = `url(${baseTexPath})`;
      // style .sozai mask-imageの設定を変更する
    });

  </script>
  <%- include("../components/header.ejs") %>
  <body>
  <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>
    <article>
    <br>
    <br>
    <div class="pan">
      <h5>素体選択 ＞<font size = "4">カラー選択</font>  ＞ カスタマイズ ＞ 作品設定 ＞ 作品設定確認</h5>
    </div>

    <!-- ページ名 -->
    <h3 class="h3_center2">カラー選択<hr></h3>
            
    <section class="box_item_4">
      <br>
  <div class = userpage>
  </div>
      
      <div class="image_wrapper"><img id="thumbnail" src="
        <% if (typeof thumbnailPath !== 'undefined') { %> 
        <%= thumbnailPath %>
        <% } else { %>
        <%= '/images/system/color.jpeg' %>
        <% } %>
        "  alt="" /></div>
      <br>
      <form method="post">
        <table>
          <tr>
            <td><p class = "explanation"><%= object_name %></p></td>
            <td>　　　　　　　　　　　　　　　　　　</td>
            <td>カラー：</td>
            <td><input type="color" id="color" name="color"></td>
          </tr>
        </table>
        
        <br>
        <br>      
          <div class="double_button4">
            <table class="button_table">
                <tr>
                    <th style = "width: 20%;"></th>
                    <th><button  type="button" class="white_button2" onclick="location.href='/customize/select_object'">戻る</button></th>
                    <th style = "width: 30%;"></th>
                    <th><button  type="submit" class="black_button2">決定</button></th>
                    <th style = "width: 20%;"></th>
                </tr>
            </table>
            <br>
            
        </div>
      </form>
  </section>
  
</div>

</div>

    </article>
</article>
<%- include("../components/login.ejs") %>
<%- include("../components/footer.ejs") %>
</body>
<script>
  let sotei_color = document.getElementById('sotei_color');
  
  let colorBack = document.getElementById('colorBack');
  colorBack.addEventListener('change', function(){
      sotei_color.style.background = this.value;
  });
</script>

</html>