<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
<title>U labeler</title>
</head>
<header class="header">
    <%- include("../components/header.ejs") %>
    <body>
    <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>
        <article>
            <div class="footerFixed">
    <br>
    <br>

    <!-- ページ名 -->
    <div class="pan">
        <h5>素体選択 ＞ カラー選択 ＞ カスタマイズ ＞ 作品設定 ＞ <font size = "4">作品設定確認</font></h5>
    </div>
    <h3 class="h3_center2">作品設定確認<hr></h3>
            
            <section class="box_item_4">
                <br>
                <div class="userpage">
                    <div class="user_3">
                    <form action="" method="post" id="hoge">
                        <div class="user_box_1">
                            <table cellpadding="0" class = "usertable">
                                
                                <tr>
                                    <th rowspan="4">
                                        <p class=user_img2><img src="<%- userInfo.icon_path %>"
                                                alt="ユーザーアイコン"></p>
                                    <td>　　　　　</td>
                                </tr>
                                <tr>    
                                    <td><p class = "username"><%- userInfo.name %></p></td>
                                    <input type="hidden" name="">
                                    
                                </tr>
                                <tr>    
                                    <td class = "userid2">@<%- userInfo.id %></td>
                                    <input type="hidden" name="">
                                </tr>
                                
                                
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            <div class = userpage>
            </div>
            <p class="date1">
                <%# work.create_atをyyyy/mm/ddで表示する %>
                    <% const create_at=new Date(work.create_at)%>
                        <%= create_at.getFullYear() + "/" + ('00' + (create_at.getMonth()+1)).slice(-2)
                            + "/" + ('00' + create_at.getDate()).slice(-2) %>
            </p>
            <div class="image_wrapper"><img src="<%= work.thumbnail_path %>" alt="<%- newName %>" /></div>
            <form action="select_color.html" method="post">
                <input type="hidden" id="workId" value="<%- work.id %>">
                <p class="tannka">単価：<%- work.unit_price %> 円　</p>
                <p class="explanation">
                    <%- baseCategory %>
                </p>
                <h3 class="sakuhinnmei" id="newName">「<%-newName%>」</h3>
                <div class="explanation2">
                        <font size="2">
                            <%# hashTagを表示する。それぞれの間には" "を入れる" %>
                                <% for( let index=0; index < hashTag.length; index++ ) { %>
                                    <%= hashTag[index] %>
                                        <% if( index < hashTag.length - 1 ) { %>
                                            <%= " " %>
                                                <% } %>
                                                    <% } %>
                        </font></p>
                    </div>
                    <br>
                    <p class = "explanation3"><%- newIntroduction %></p>
                    <br>
                    <input type="hidden" value="<%= rawNewIntroduction %>" id="rawNewIntroduction"> 
                    
                    <div class="check">
                        <input id="newIsPublic" type="checkbox" class="check1" name="check" <%- newIsPublic %>
                        disabled>公開
                    </div>
                    <div class="double_button4">
                        <table class="button_table">
                            <tr>
                                <th style = "width: 20%;"></th>
                                <th><button type="button" class="white_button2"
                                    onclick="history.back()">戻る</button></th>
                                <th style = "width: 30%;"></th>
                                <th><button type="button" class="black_button2" onclick="change()">購入確認へ</button>
                                </th>
                                <th style="width: 20%;"></th>
                            </tr>
                        </table>
                        <br>
                    </div>
                </form>
            </section>
            
        </div>
        
    </div>
</div>
    </article>
    <%- include("../components/footer.ejs") %>
</body>
<script>
    const newIsPublic = document.getElementById("newIsPublic");
    const workId = document.getElementById("workId").value;
    const rawNewName = document.getElementById("newName");
    const rawNewIntroduction = document.getElementById("rawNewIntroduction");

    //rawnewNameから"「"を削除し、"」"を削除する
    let newName = rawNewName.innerText.replace(/「/g, '').replace(/」/g, '');

    function change() {
        console.log(newIsPublic.checked);
        axios.post(`/workSet/work_setting_confirmation`, {
            newIsPublic: newIsPublic.checked,
            newName: newName,
            workId: workId,
            rawNewIntroduction: rawNewIntroduction.value
        })
            .then(function (response) {
                if (response.status == 200 && response.data) {
                    location.href = "/cart";
                }
            })
            .catch(function (error) {
                console.log(error);
                alert("保存に失敗しました");
            });
    }
</script>

</html>
