<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("./components/lib.ejs") %>
        <title>U labeler</title>
</head>
<header class="header">
    <%- include("./components/header.ejs") %>
    <body>
        <%- include("./components/sidemenu.ejs", {side_menu: side_menu}) %>
        <article>

            <br>
            <br>
            <br>
            <br>

            <!-- ページ名 -->

            <section class="box_item_4">
                <br>
                </div>
                <div class=userpage>
                </div>


                <form action="select_color.html" method="post">
                    <h3>
                        500 Internal Server Error<br><br>アクセスしようとしたページは表示できませんでした☹
                    </h3>
                    <br>

                </form>
            </section>

            </div>
            <br><br><br><br><br><br><br><br><br>
            </div>

        </article>
        <%- include("./components/login.ejs") %>
        <%- include("./components/footer.ejs") %>
    </body>

</html>