<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("./components/lib.ejs") %>
<title>U labeler</title>
<link rel="stylesheet" href="/javascripts/jquery.js">
<link rel="stylesheet" href="/stylesheets/pop-up.css">
</head>
<header class="header">
    <%- include("./components/header.ejs") %>
<body>
    <%- include("./components/sidemenu.ejs", {side_menu: side_menu}) %>
    <article>
        <!-- ページ名 -->
    <h3 class="h3_center">カート<hr></h3>
    <% if (currentCartWorkDetailList.length === 0) { %>
        <h3>カートの中身がありません。</h3>
    <% } else { %>
<div class="cart_flex7">
    <div class="cart_flex">
        <p>商品</p>
        <p class="">数量</p>
        <p class="total2">合計</p>
    </div>
    <hr class="cart_hr">
 
    <% for( let i = 0; i < currentCartWorkDetailList.length; i++ ) { %>
        <div class="cart_item_flex">
            <div class="cart_image">
                <img src="<%= currentCartWorkDetailList[i].workImagePath %>" alt="商品画像">
                <div class="cart_item_detail">
                    <p>素体名:<%= currentCartWorkDetailList[i].baseCategoryName %></p>
                    <p>作品名:<%= currentCartWorkDetailList[i].workName %></p>
                    <p>単価:<%= currentCartWorkDetailList[i].unitPrice %></p>
                </div>
                <div class="cart_item_kazu">
                        <div class="workId" id="<%= currentCartWorkDetailList[i].workId %>">
                            <input type="number" class="quantity" name="" value="<%= currentCartWorkDetailList[i].quantity %>" min="1" max="99">
                        </div>
                    <p><div id="js-show-popup" onclick="showPopUp('js-popup')"><font color="brue">削除</font></div></a></p>
                </div>
                <div class="total5">
                    <p class="sumAmount" id="sumAmount-<%= currentCartWorkDetailList[i].workId %>">¥<%= currentCartWorkDetailList[i].unitPrice * currentCartWorkDetailList[i].quantity %></p>
                </div>
            </div>
            
        </div>
        <% } %> 
    <hr class="cart_hr">
    <div class="cart_flex2">
        <p><button type="submit" class="white_button3" onclick="location.href='/'">ショッピングを続ける</button></p>
        <p class="count2" id="totalQuantity"></p>
        <p class="total3" id="totalAmount"></p>
    </div>
    <p class="button5"><button type="submit" class="black_button3" onclick="location.href='purchase_confirmation.html'">購入手続きへ</button></p>

    <div class="popup" id="js-popup">
        <div class="popup-inner">
            <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>


            <section class="box_item_3">
                <br>
                <h3>この作品を<font color = "red">削除</font>しますか？</h3>
                
                <br>
                    <p>カートの中から完全に削除されます。</p>
                    <p>自身でカスタマイズした作品は保存されません。</p>
                <br>
                
                
                <div class="double_button4">
                    <table class="button_table">
                        <tr>
                            <th style = "width: 20%;"></th>
                            <th><button  type="button" class="white_button2" onclick="closePopUp('js-popup')">戻る</button></th>
                            <th style = "width: 30%;"></th>
                            <th><button  type="submit" class="red_button2" onclick="location.href='cart.html'">削除</button></th>
                            <th style = "width: 20%;"></th>
                        </tr>
                    </table>
                    <br>
                    
                </div>
            </section>

            
        </div>
        <div class="black-background" id="js-black-bg"></div>
    </div>

    <% } %> 
    <div id="flg"><%= currentCartWorkDetailList.length %></div>
    
    </article>
    <%- include("./components/login.ejs") %>
    <%- include("./components/footer.ejs") %>
</body>

<script>
    const currentAmount = document.querySelectorAll(".sumAmount");
    const currentQuantity = document.querySelectorAll(".quantity");
    const totalAmount = document.getElementById("totalAmount");
    const flg = document.getElementById("flg");

    if (flg.innerText != 0) {
        // 0.2秒ごとに更新する
        setInterval(() => {
            let sumAmount = 0;
            let sumQuantity = 0;
            currentAmount.forEach(amount => {
                sumAmount += parseInt(amount.innerText.replace(/[^0-9]/g, ""));
            });
            totalAmount.innerText = `合計：¥${sumAmount}`;
            currentQuantity.forEach(quantity => {
                if (quantity.value < 1) {
                    quantity.value = 1;
                }
                sumQuantity += parseInt(quantity.value);
            });
            document.getElementById("totalQuantity").innerText = `総数：${sumQuantity}`;
        }, 300);
    }

    // currentQuantityが変更されるたびに実行する
    currentQuantity.forEach(quantity => {
        quantity.addEventListener("change", () => {
            console.log(quantity.closest(".workId").id);
            console.log(quantity.value);
            const workId = quantity.closest(".workId").id;
            axios.post("/api/util/cartUpdate", {
                workId: workId,
                quantity: quantity.value
            }).then(res => {
                console.log(res);
                document.getElementById(`sumAmount-${workId}`).innerText = `¥${res.data}`;
            }).catch(err => {
                console.log(err);
            });
        });
    });
</script>

</html>
