<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("./components/lib.ejs") %>
        <title>U labeler</title>
        <link href="css/reset.css" rel="stylesheet" type="text/css">
</head>
<header class="header">
    <%- include("./components/header.ejs") %>
    <body>
        <%- include("./components/sidemenu.ejs", {side_menu: side_menu}) %>
        <article>
            <!-- ページタイトル -->
            <h3 class="privacy_title">プライバシーポリシー
                <hr>
            </h3>
            <p>当サイトは、オリジナルラベル製作のサービス提供を行っております。<br>ユーザーの権利を保護するために、個人情報に関連する法規制等を遵守するとともに、<br>以下に示す方針に基づき個人情報保護マネジメントシステムを構築します。
            </p>
            <div class="privacy_box">
                <ol>
                    <li>当社は個人情報を利用目的の範囲に限定して取得・利用・提供し、目的外利用をいたしません。</li><br>
                    <li>当社は個人情報への不正アクセス、紛失、破壊、改竄及び漏洩等のリスクに関して、合理的な安全対策を講じます。また、漏洩、滅失又はき損の防止及び是正に関する対策を実施し個人情報に関するセキュリティ体制を継続的に向上させます。
                    </li><br>
                    <li>当社は個人情報に関する法令、国が定める指針その他の規範を遵守します。</li><br>
                    <li>当社は個人情報保護マネジメントシステムを適時・適切に見直し、継続的な改善活動を行います。</li><br>
                    <li>本方針は、外部公開するとともに従業員他に周知し、各自の教育、啓発に努め個人情報保護意識の高揚を図ります。</li>
                </ol>
            </div>

        </article>
        <%- include("./components/login.ejs") %>
        <%- include("./components/footer.ejs") %>
    </body>

</html>