<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("./components/lib.ejs") %>
        <title>U labeler</title>
</head>
<header class="header">
    <%- include("./components/header.ejs") %>

        <body>
            <%- include("./components/sidemenu.ejs", {side_menu: side_menu}) %>
                <article>
                    <div class="footerFixed">
                    <br>
                    <br>
                    <br>
                    <br>

                    <!-- ページ名 -->

                    <section class="box_item_4">
                        <br>
                    <div class = userpage>
                        
                        
                            <h3><font color = "red">検索結果がありません。</font></h3>
                            <p><font color = "red">キーワード</font>をご確認ください。</p>
                            <br>
                            <p>検索できる項目</p>
                            <p>@ユーザー名 #ハッシュタグ 作品名（部分一致）</p>
                            <br>
                    </section>

                    </div>
                    <br><br><br><br><br><br><br><br><br>
                    </div>

                </div>
                </article>

                <footer>
                    <%- include("./components/login.ejs") %>
                        <%- include("./components/footer.ejs") %>
        </body>
        <script src="/javascripts/searchInit.js"></script>

</html>