<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="robots" content="none,noindex,nofollow">
  <meta name="description" content="ハンドメイドショップサイト">
  <meta name="keywords" content="ECサイト">
  <title>作品設定</title>

  <link rel="stylesheet" href="/stylesheets/jquery.skippr.css">
  <link href="/stylesheets/top.css" rel="stylesheet" type="text/css">
  </link>

</head>
<header class="header">

  <div class="header_logo">
    <h1><a href="/"><img src="/images/system/logo.png" alt="ロゴ"></a></h1>
  </div>

  <!-- 検索ボックス -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <span class="magnifying_glass"></span>
  <form method="get" action="#" class="search_container">
    <input type="text" size="25" placeholder="キーワード検索">
    <input type="submit" value="&#xf002">
  </form>

  </div>


  <body>

    <input type="checkbox" id="nav1">
    <label for="nav1" class="open"><span></span></label>
    <label for="nav1" class="close"></label>


    <nav class="menu">
      <h2 href="template.html">U labelar</h2>
      <ul>
        <li><a href="#">マイ作品リスト</a></li>
        <li><a href="#">お気に入り作品リスト</a></li>
        <li><a href="#">お気に入り作者リスト</a></li>
        <li><a href="#">購入履歴</a></li>
        <li><a href="#">会員情報</a></li>
        <li><a href="#">メールアドレス変更</a></li>
        <li><a href="#">パスワード変更</a></li>
        <li><a href="#">退会</a></li>
      </ul>
    </nav>

    <article>
      <!-- パンくずリスト -->
      <div class="pan">
        <h5>素体選択 ＞ カラー選択 ＞ カスタマイズ ＞ 作品設定 ＞ 作品設定確認</h5>
      </div>

      <!-- ページ名 -->
      <h2>作品設定</h2>
      <hr>

      <!-- 画像 -->
      <div class="img_area">
        <img src="/images/system/color.jpeg" alt="素体画像">
      </div>
      <!-- 素体名 -->

      <div class="object3">
        <div class="object3_name">
          <p>
            <%= category_sub %>
          </p>
          <h3>
            <%= title %>
          </h3>
          <form action="#" method="post">
            <% for (let i=0; i < hash_tag.length; i++) { %>
              <%# タグの後ろには半角スペースを入れる %>
                <%# ただし、最終タグの後ろには半角スペースを入れない %>
                  <% if (i===hash_tag.length - 1) { %>
                    <%= hash_tag[i] %>
                      <% } else { %>
                        <%= hash_tag[i] + ' ' %>
                          <% } %>
                            <% } %>
          </form>
          <p id="view-description-wo-tags">
            <%# descriptionの"\r\n"を改行に変換 %>
              <%- description.replace(/\r\n/g, '<br>' ) %>
          </p>

        </div>


      </div>
      <!-- <script>
    
  let e = document.getElementById("area1");
  let s = 
  `150文字以内
  
#ハッシュタグ`;
  e.placeholder = s;
  </script> -->





      <div class=bottom>
        <section>
          <div class="back">
            <button><a href="/create/work_settings">戻る</a></button>
          </div>


          <form action="/create/submit" method="POST">
            <div class="select">
                <input type="hidden" name="description_wo_tags" value="<%=description%>" id="description_wo_tags">
                <input type="hidden" name="raw_hash_tags" value="<%=hash_tag%>">
                <input type="hidden" name="char_num" value="<%= char_num %>">
                <button class="select" id="buy">決定</button>
            </div>
          </form>

        </section>

      </div>
      <br>
    </article>
    <br>
    <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>
    <br>
    <a href="#" id="pagetop"><i class="up"></i>↑</a>
  </body>

</html>