<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
        <title>U labeler</title>
</head>
<header class="header">
    <%- include("../components/header.ejs") %>
    <body>
        <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>
        <article>
            <div class="footerFixed">
            <br>
            <br>

            <!-- ページ名 -->
            <h3 class="h3_center2">お問い合わせ
                <hr>
            </h3>

            <section class="box_item_4">

                <div class=userpage>
                    <!-- </div>
                <p class = "date1">2022/02/02</p>
                <div class="image_wrapper"><img src="images/color.jpeg"  alt="" /></div> -->
                        <br>
                        <table class="setumeitable2">
                            <tr>
                                <th>お名前　　　　　　：</th>
                                <!--空白いじらないで -->
                                <th class="th3">
                                    <p>やまだたろう</p>
                                </th>

                            </tr>

                            <tr>
                                <th>ユーザーⅠⅮ　 　　：</th>
                                <th>
                                    <p>00000001</p>
                                </th>

                            </tr>

                            <tr>
                                <th>メールアドレス　　：</th>
                                <th>
                                    <p>@example.co.jp</p>
                                </th>

                            </tr>



                            <tr>
                                <th class="otoiawase">お問い合わせ項目 <font color="red">*</font>：</th>
                                <th>
                                    <select class="toiawase_select">
                                        <option value="" selected>カスタマイズについて</option>
                                        <option value="1">個人情報について</option>
                                        <option value="2">配送について</option>
                                        <option value="3">購入について</option>
                                        <option value="4">商品について</option>
                                        <option value="5">その他について</option>
                                    </select>
                                </th>

                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <p class="error_message6">※選択してください。</p><!-- やま jsエラーメッセージ -->
                                </th>
                            </tr>

                            <tr>
                                <th>お問い合わせ内容 <font color="red">*</font>：</th>
                                <th>
                                    <font color="#85858"><textarea class="tekisuto3" name="example2" cols="47" rows="8"
                                            wrap="soft" placeholder="記入してください。"></textarea></font>
                                    </p>
                                </th><!-- インデント気持ち悪いけど変えないで… placeholdeきかない…-->
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <p class="error_message">※1000文字以内で入力してください。</p><!-- やま jsエラーメッセージ -->
                                </th>
                            </tr>

                        </table>
                        <br>
                        <p class="button6"><button type="submit" class="black_button4"
                                onclick="location.href=''">決定</button></p>
                        <br>
            </section>

            </div>

            </div>

        </div>
        </article>
        <%- include("../components/login.ejs") %>
        <%- include("../components/footer.ejs") %>
    </body>

</html>