<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
    <title>U labeler</title>
</head>
<header class="header">
    <%- include("../components/header.ejs") %>
    <body>
        <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>
            <article>
                <div class="footerFixed">
                <br>
                <br>
                <!-- ページタイトル -->
                <h3 class="icon_setting_title">アイコン画像変更
                    <hr>
                </h3>


                <!-- 画像ドロップ -->
                <!-- やま 会員情報変更画面へ遷移 -->
                <section class="box_item_4">
                    <br>
                    <br>
                    <form action="" method="post" id="hoge">

                        <div class="boxarea">

                            <!-- ドラドロエリア(円状) -->
                            <div id="dragDropArea">
                                <!-- 円内のフォントと画像 -->
                                <div class="icon_txtimg" id="previewArea">
                                    <img src="<%- userInfo.icon_path %> " class="defo_image" alt="画像をドラッグ＆ドロップしてください"
                                        id="previewIconImage">
                                    <!-- <p class="">ここに画像を<br>ドロップしてください。</p> -->
                                </div>
                            </div>
                            <br>
                            <div class="file_button">
                                <input id="fileInput" type="file" accept="image/*" name="icon"
                                    onChange="photoPreview(event)">
                            </div>

                        </div>
                    </form>
                    <!-- ボタン -->
                    <div class="double_button">
                        <!-- やま 会員情報変更画面へ遷移 -->
                        <button type="button" class="white_button"
                            onclick="location.href='/settings/profile/edit'">戻る</button>
                        <button tyoe="button" class="black_button" onclick="location.href='/settings/profile/edit'">決定</button>

                    </div>
                    <br>
                </section>


                <script src="/javascripts/drag_drop.js"></script>

            </article>
            <%- include("../components/footer.ejs") %>

            <footer>
                <br>
                <br>
                <div class="footer_text1">
                    <table class="footer_text">
                        <tr>
                            <td>
                                <p><a href="faq.html">よくある質問　</a></p>
                            </td>
                            <td>
                                <p><a href="/privacypolicy">プライバシーポリシー　</a></p>
                            </td>
                            <td>
                                <p><a href="/sitepolicy">サイトポリシー</a></p>
                            </td>
                        </tr>
                    </table>
                </div>
                <br>
                <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>
            
                <br>
                <p id="page-top"><a href="">↑</a></p>
            </footer>
        </div>
            
            <script>
                bubbly({
                    blur: 5,
                    bubbleFunc: () => `hsla(${Math.random() * 350}, 90%, 50%, ${Math.random() * 0.3})`,
                    canvas: document.querySelector("#back"),
                    colorStart: '#fff',
                    colorStop: '#fff',
                    compose: 'source-over',
                    shadowColor: '#ffffef',
                    velocityFunc: () => Math.random() * 1.4,
                    radiusFunc: () => 3 + Math.random() * 20,
                });
            </script>
    </body>

    <script>
        function sendDraftIcon() {
            // fileInputが空ならreturn
            if (document.getElementById("fileInput").files.length == 0) {
                return;
            }else{
                const params = new FormData();
                params.append('file', document.getElementById('fileInput').files[0]);
                axios.post(
                    '/api/media/posticon',
                    params,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                .then((result) => {
                    console.log(result);
                    if (result.status == 201) {
                        // alert('アイコン画像を変更しました。');
                        // responseはJSONで帰ってくる
                        // アイコン画像のパスを取得
                        // const icon_path = result.data.icon_url;
                        // console.log(icon_path);
                        // location.href = '/settings/profile/edit';
                    } else {
                        alert('アイコン画像のアップロードに失敗しました。');
                    }
                })
            }
        }
    </script>

</html>