<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("../components/lib.ejs") %>
  <title>U labeler</title>
</head>
<header class="header">

  <div class="header_logo">
    <%- include("../components/header.ejs") %>
  <body>
    <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>

      <article>
        <div class="footerFixed">
        <%- include("../components/login.ejs") %>
        <div class="box09">

          <!-- 入力フォーム -->
          <form action="" method="post" id="hoge">
            <div class="login_input">
              <div class="input_center">
                <p>登録したメールアドレス<font color="red">*</font>　:　<input type="text" name="mail" placeholder="@example.co.jp"
                    id="mailaddress">
                </p>
              </div>
              <div class="error_email">
                <p id="error_message" class="error_message"></p><!-- やま jsエラーメッセージ -->
              </div>
            </div>
          </form>
          <!-- ボタン -->
          <div class="double_button">
            <!-- ひとつ前のページに戻る -->
            <button type="submit" class="white_button" onclick="history.back()">戻る</button>
            <button type="submit" class="black_button" id="send">送信</button>
          </div>

        </div>



      </article>
      <%- include("../components/footer.ejs") %>
      <footer>
        <br>
        <br>
        <div class="footer_text1">
            <table class="footer_text">
                <tr>
                    <td>
                        <p><a href="faq.html">よくある質問　</a></p>
                    </td>
                    <td>
                        <p><a href="/privacypolicy">プライバシーポリシー　</a></p>
                    </td>
                    <td>
                        <p><a href="/sitepolicy">サイトポリシー</a></p>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>
    
        <br>
        <p id="page-top"><a href="">↑</a></p>
    </footer>
  </div>
    
    <script>
        bubbly({
            blur: 5,
            bubbleFunc: () => `hsla(${Math.random() * 350}, 90%, 50%, ${Math.random() * 0.3})`,
            canvas: document.querySelector("#back"),
            colorStart: '#fff',
            colorStop: '#fff',
            compose: 'source-over',
            shadowColor: '#ffffef',
            velocityFunc: () => Math.random() * 1.4,
            radiusFunc: () => 3 + Math.random() * 20,
        });
    </script>
  </body>

  <script src="/javascripts/util/mail_varidate.js"></script>
<script src="/javascripts/mail_address_input.js"></script>

</html>