<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("../components/lib.ejs") %>
  <title>U labeler</title>
  </link>

</head>
<header class="header">
  <%- include("../components/header.ejs") %>
  <body>
    <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>

      <article>

        <div class="box09">

          <!-- 入力フォーム -->
          <form action="" method="post" id="hoge">
            <div class="login_input">
              <div class="input_center">
                <p>現在のメールアドレス<font color="red">*</font>　　　　　　:　<input type="text" name="" size="35" disabled="disabled"
                    value="<%- mailaddress %> "></p>
              </div>
              <div class="password_update_error">
              </div>
              <div class="input_center">
                <p>新しいメールアドレス<font color="red">*</font>　　　　　　:　<input type="text" name="new_mailaddress" size="35"
                    placeholder="半角英数字8文字以上15文字以内"></p>
              </div>
              <div class="input_center">
                <p>新しいメールアドレス（確認用）<font color="red">*</font>　:　<input type="text" name="new_mailaddress_confirmation"
                    size="35" placeholder="半角英数字8文字以上15文字以内"></p>
              </div>
              <div class="password_update_error">
                <p id="message" class="error_message4"></p>
              </div>
            </div>

          </form>

          <div class="double_button">
            <!-- 履歴のひとつ前に戻る -->
            <button type="submit" class="white_button" onclick="history.back()">戻る</button>
            <button class="black_button" id="send" onclick="modificationMailaddressAttempt()">決定</button>
          </div>


        </div>
      </article>
      <%- include("../components/footer.ejs") %>
  </body>

  <script src="/javascripts/util/mail_varidate.js"></script>
  <script src="/javascripts/mail_address_modification.js"></script>



</html>