<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("../components/lib.ejs") %>
  <title>U labeler</title>
</head>
<header class="header">

  <div class="header_logo">
    <%- include("../components/header.ejs") %>
  <body>
    <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>

      <article>
        <div class="footerFixed">
        <%- include("../components/login.ejs") %>
        <div class="box09">

          <!-- 入力フォーム -->
          <form action="" method="post" id="hoge">
            <div class="login_input">
              <div class="input_center">
                <p>登録したメールアドレス<font color="red">*</font>　:　<input type="text" name="mail" placeholder="@example.co.jp"
                    id="mailaddress">
                </p>
              </div>
              <div class="error_email">
                <p id="error_message" class="error_message"></p><!-- やま jsエラーメッセージ -->
              </div>
            </div>
          </form>
          <!-- ボタン -->
          <div class="double_button">
            <!-- ひとつ前のページに戻る -->
            <button type="submit" class="white_button" onclick="history.back()">戻る</button>
            <button type="submit" class="black_button" id="send">送信</button>
          </div>

        </div>



      </article>
      <%- include("../components/footer.ejs") %>
  </body>

  <script src="/javascripts/util/mail_varidate.js"></script>
<script src="/javascripts/mail_address_input.js"></script>

</html>