<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
        <title>U labeler</title>
</head>
<header class="header">
    <%- include("../components/header.ejs") %>

        <body>
            <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>
                <article>
                    <br>
                    <br>

                    <!-- ページ名 -->
                    <h3 class="h3_center2">会員情報確認
                        <hr>
                    </h3>

                    <section class="box_item_4">

                        <div class=userpage>

                            <form action="select_color.html" method="post">
                                <br>
                                <div class="image_wrapper5"><img src="<%= userInfo.icon_path %>" alt="" /></div>
                                <p>@<%= userInfo.id %>
                                </p>
                                <br>
                                <table class="setumeitable2" cellpadding="3">
                                    <tr>
                                        <th class="tableth">ユーザー名 ：</th>
                                        <!--空白いじらないで -->
                                        <th>
                                            <p>
                                                <%= userInfo.name %>
                                            </p>
                                        </th>

                                    </tr>

                                    <tr>
                                        <th>自己紹介文 ：</th>
                                        <th>
                                            <p>
                                                <%- userInfo.self_introduction %>
                                            </p>
                                        </th>

                                    </tr>

                                </table>
                                <br>
                                <p class="button6"><button type="button" class="black_button4"
                                        onclick="location.href='/settings/profile/edit'">編集</button></p>
                                <br>
                                <div id="js-show-popup" onclick="showPopUp('showWithdrawal')">
                                    <p class="taikai">
                                        退会する
                                    </p>
                                </div>

                                <br>
                            </form>
                    </section>

                    </div>

                    </div>

                    <div class="popup" id="showWithdrawal">
                        <div class="popup-inner">
                            <div class="close-btn" id="js-close-btn" onclick="closePopUp('showWithdrawal')"><i
                                    class="fas fa-times"></i></div>
                            <section class="box_item_3">
                                <br>
                                <h3>本当に<font color="red">退会</font>しますか？</h3>
                                <h4>
                                    <font color="red">退会</font>するとユーザー情報が<font color="red">削除</font>されます。
                                </h4>

                                <p>アカウントが完全に削除される前であれば、アカウントは、退会手続きから30日後にシステムから完全に削除されます。アカウントが完全に削除される前であれば、ログインすることで
                                    <font color="red">復会</font>できます。</p>
                                <br>

                                <div class="double_button4">
                                    <table class="button_table">
                                        <tr>
                                            <th style="width: 20%;"></th>
                                            <th><button type="button" class="white_button2"
                                                    onclick="location.href=''">はい</button></th>
                                            <th style="width: 30%;"></th>
                                            <th><button type="button" class="red_button2" form=="hoge"
                                                    onclick="closePopUp('showWithdrawal')">いいえ</button></th>
                                            <th style="width: 20%;"></th>
                                        </tr>
                                    </table>
                                    <br>

                                </div>
                            </section>
                        </div>
                        <div class="black-background" id="js-black-bg" onclick="closePopUp('showWithdrawal')"></div>
                    </div>
                </article>
                <%- include("../components/footer.ejs") %>
        </body>

</html>