<div class="pagination">
    <ul class="example">
        <% if (currentPage !=1) { %>
            <li>
                <% if (isCreatorView == true) { %>
                    <a href="/creator_work/<%= userInfo.id %>?page=<%- currentPage - 1 %>">前へ</a>
                    <% } else if (isCreatorView == false) { %>
                    <a href="<%= currentPageDescription.uriPrefix %>?page=<%- currentPage - 1 %>&userId=<%= userInfo.id %>">前へ</a>
                <% } else if (isCreatorView == "myFavWorkList") { %>
                    <li><a href="<%= currentPageDescription.uriPrefix %>?page=<%- currentPage - 1 %>">前へ</a></li>
                <% } %>
            </li>
            <% } %>
            <% for( let index=1; index <=maxPage; index++ ) { %>
                <% if (index==currentPage) { %>
                    <li class="pagination_nau"><%- currentPage %></li>
                <% } else { %>
                    <% if (isCreatorView == true) { %>
                        <li><a href="/creator_work/<%= userInfo.id %>?page=<%- index %>"><%- index %></a></li>
                    <% } else if (isCreatorView == false) { %>
                        <li><a href="<%= currentPageDescription.uriPrefix %>?page=<%- index %>"><%= index %></a></li>
                    <% } else if (isCreatorView == "myFavWorkList") { %>
                        <li><a href="<%= currentPageDescription.uriPrefix %>?page=<%- index %>"><%= index %></a></li>
                    <% } %>
                <% } %>
            <% } %>
            <% if (currentPage !=maxPage) { %>
                <% if (isCreatorView == true) { %>
                    <li>
                        <a href="/creator_work/<%= userInfo.id %>?page=<%- currentPage + 1 %>">次へ</a>
                    </li>
                <% } else if (isCreatorView == false) { %>
                <li><a href="<%= currentPageDescription.uriPrefix %>?page=<%- currentPage + 1 %>">次へ</a></li>
                <% } else if (isCreatorView == "myFavWorkList") { %>
                    <li><a href="<%= currentPageDescription.uriPrefix %>?page=<%- currentPage + 1 %>">次へ</a></li>
                <% } %>
            <% } %>
    </ul>
</div>