<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./lib.ejs") %>
  <title>U labeler</title>
  </link>

</head>
<header class="header">
  <%- include("./header.ejs") %>

  <body>
    <%- include("./sidemenu.ejs", {side_menu: side_menu}) %>
    <%- include("./login.ejs") %>

        <article>
          <div class="box09">
            <div class="report_txt">
              <p>
                <%- message %>
              </p>
            </div>

            <div class="button">
              <!-- 閉じるボタン（ポップアップ閉じるボタン）jsページ -->
              <button type="button" class="white_button" onclick="location.href='/'">トップに戻る</button>
            </div>
          </div>

          <noscript>
            <p>JavaScriptを有効にしてください。</p>
          </noscript>


        </article>
        <%- include("./footer.ejs") %>
  </body>

</html>