<% if (workList.length !=0) { %>
    <% for( let i=idx; i < (idx + maxViewOnPage); i++ ) { %>
        <% if (workList[i]) { %>
            <section class="box_item_2" onclick="showPopUp('listidx-<%-workList[i].id%>')">
                <br>
                <p class="date1">
                    <%# work.create_atをyyyy/mm/ddで表示する %>
                        <% const create_at=new Date(workList[i].create_at)%>
                            <%= create_at.getFullYear() + "/" + ('00' + (create_at.getMonth()+1)).slice(-2) + "/" +
                                ('00' + create_at.getDate()).slice(-2) %>
                </p>
                <div class="image_wrapper"><img src="<%= workList[i].thumbnail_path %>" alt="<%- workList[i].name %>" />
                </div>
                <p class="explanation">
                    <%- baseCategoryList[i].name_subcategory %> <br>「<%- workList[i].name %>」
                </p>
                <% if (typeof(favoritedWorkList) == "undefined") { %>
                    <p class="star2"><button type="button" style="background: transparent;outline: none;border: none;"
                            onclick="event.stopPropagation(); selectFavorite('<%-workList[i].id%>')">
                            <font size="15" color="orange">☆</font>
                        </button></p><!-- お気に入りしてない☆-->
                    <% } else { %>
                        <% if (favoritedWorkList[i]) { %>
                            <p class="star2_1"><button type="button"
                                    style="background: transparent;outline: none;border: none;"
                                    onclick="event.stopPropagation(); selectFavorite('<%-workList[i].id%>')">
                                    <font size="15" color="orange">★</font>
                                </button></p>
                            <% } else { %>
                                <p class="star2"><button type="button"
                                        style="background: transparent;outline: none;border: none;"
                                        onclick="event.stopPropagation(); selectFavorite('<%-workList[i].id%>')">
                                        <font size="15" color="orange">☆</font>
                                    </button></p><!-- お気に入りしてない☆-->
                                <% } %>
                                    <% } %>

                                        <div class="favorite3">
                                            <p class="favorite2 favNumIdx-<%-workList[i].id%>" id="favNumIdx-<%-workList[i].id%>">
                                                <font size="4">
                                                    <%= favoritedWorkNumberList[i]%>
                                                </font>
                                            </p>
                                        </div>
            </section>
            <% } %>
                <% } %>
                    <% } %>

                        <script>
                            function selectFavorite(id) {
                                const favViewNum = document.querySelectorAll(`.favNumIdx-${id}`);
                                axios.post(
                                    `/api/work/favorite/${id}`,
                                )
                                    .then(function (response) {
                                        console.log(response);
                                        // /api/work/getworkfavnumにPOSTし、返却値をalertで表示
                                        axios.post(
                                            `/api/work/getworkfavnum/`,
                                            {
                                                id: id
                                            }
                                        )
                                            .then(function (response) {
                                                console.log(response);
                                                // お気に入り数を表示
                                                // favViewNumの要素数分ループ
                                                for (let i = 0; i < favViewNum.length; i++) {
                                                    favViewNum[i].innerHTML = response.data.number;
                                                }
                                                // favViewNum.innerHTML = `<font size="4">${response.data}</font>`;
                                                // alert(response.data);
                                            })
                                            .catch(function (error) {
                                                console.log(error);
                                            });
                                        // location.reload();
                                    })
                                    .catch(function (error) {
                                        // httpStatusCodeを取得
                                        console.log(error.response.status);
                                        if (error.response.status == 403) {
                                            alert("お気に入りに追加するには、ログインしてください。");
                                        }
                                    });
                                return;
                            }

                            function getFavStatus(){
                                const favViewNum = document.querySelectorAll(`.favNumIdx-${id}`);
                                axios.post(
                                    `/api/work/getworkfavnum/`,
                                    {
                                        id: id
                                    }
                                )
                                    .then(function (response) {
                                        console.log(response);
                                        // お気に入り数を表示
                                        // favViewNumの要素数分ループ
                                        for (let i = 0; i < favViewNum.length; i++) {
                                            favViewNum[i].innerHTML = response.data.number;
                                        }
                                        // favViewNum.innerHTML = `<font size="4">${response.data}</font>`;
                                        // alert(response.data);
                                    })
                                    .catch(function (error) {
                                        console.log(error);
                                    });
                                return;
                            }

                            window.onload = function () {
                                getFavStatus();
                            }
                        </script>